.newscards_main > .news1 img,
.newsmain img {
  width: 100px;
  height: 100px;
}
.newscards_main > .heading img {
  width: 30px;
  height: 10px;
}
.news1,
.heading,
.newsmain {
  display: flex;
  gap: 20px;
  align-items: center;
  border: none;
  width: 400px;
  background-color: white;
}
.views_main,
.view1 {
  display: flex;
  gap: 120px;
}
.news2 > .view2 {
  display: flex;
  gap: 230px;
}
.news2 {
  border: none;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: white;
}
.newsmaincontent,
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.newscards_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.heading {
  padding: 15px;
}
.newscards_main h3 {
  color: grey;
}
.newscards_main a {
  color: blue;
  text-decoration: none;
}
.newscards_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1110px) {
  .newsmain,
  .news1,
  .news2,
  .heading {
    width: 100%;
  }
  .views_main,
  .view1 {
    gap: 600px;
  }
  .news2 > .view2 {
    gap: 710px;
  }
}
@media (max-width: 768px) {
  .newsmain,
  .news1,
  .news2,
  .heading {
    width: 100%;
  }
  .views_main,
  .view1 {
    gap: 400px;
  }
  .news2 > .view2 {
    gap: 500px;
  }
}
@media (max-width: 480px) {
  .newsmain,
  .news1,
  .news2,
  .heading {
    width: 100%;
  }
  .views_main,
  .view1 {
    gap: 180px;
  }
  .news2 > .view2 {
    gap: 290px;
  }
}
